<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DOCUMED.Properties.Settings.Medical_Center_HVIRFILLConnectionString"
            connectionString="Data Source=NAVA\SQLEXPRESS;Initial Catalog=Medical_Center_HVIRFILL;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>