USE [master]
GO
/****** Object:  Database [Medical_Center_HVIRFILL]    Script Date: 7/28/2026 1:54:19 PM ******/
CREATE DATABASE [Medical_Center_HVIRFILL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Medical_Center_HVIRFILL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Medical_Center_HVIRFILL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Medical_Center_HVIRFILL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Medical_Center_HVIRFILL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Medical_Center_HVIRFILL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Medical_Center_HVIRFILL]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 7/28/2026 1:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[IdCita] [numeric](5, 0) NOT NULL,
	[IdPaciente] [numeric](4, 0) NULL,
	[IdMedico] [numeric](4, 0) NULL,
	[Fecha] [date] NULL,
	[Hora] [time](7) NULL,
	[IdEstado] [numeric](3, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 7/28/2026 1:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[IdConsulta] [numeric](5, 0) NOT NULL,
	[IdCita] [numeric](5, 0) NULL,
	[IdPaciente] [numeric](4, 0) NULL,
	[IdMedico] [numeric](4, 0) NULL,
	[Fecha] [date] NULL,
	[Peso] [numeric](4, 2) NULL,
	[Estatura] [numeric](3, 0) NULL,
	[PresionArterial] [varchar](10) NULL,
	[MotivoConsulta] [varchar](100) NULL,
	[Diagnostico] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoCitas]    Script Date: 7/28/2026 1:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCitas](
	[IdEstado] [numeric](3, 0) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Motivo] [varchar](100) NULL,
	[Reprogramado] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 7/28/2026 1:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[IdMedico] [numeric](4, 0) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Especialidad] [varchar](40) NULL,
	[CedulaProfesional] [varchar](20) NULL,
	[Telefono] [varchar](15) NULL,
	[Correo] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 7/28/2026 1:54:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[IdPaciente] [numeric](4, 0) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Sexo] [varchar](10) NULL,
	[Alergias] [varchar](60) NULL,
	[PadecimientosCronicos] [varchar](100) NULL,
	[Telefono] [varchar](15) NULL,
	[Correo] [varchar](60) NULL,
	[Direccion] [varchar](100) NULL,
	[ContactoEmergencia] [varchar](100) NULL,
	[TelefonoEmergencia] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Citas] ([IdCita], [IdPaciente], [IdMedico], [Fecha], [Hora], [IdEstado]) VALUES (CAST(301 AS Numeric(5, 0)), CAST(201 AS Numeric(4, 0)), CAST(101 AS Numeric(4, 0)), CAST(N'2026-07-12' AS Date), CAST(N'10:00:00' AS Time), CAST(1 AS Numeric(3, 0)))
INSERT [dbo].[Citas] ([IdCita], [IdPaciente], [IdMedico], [Fecha], [Hora], [IdEstado]) VALUES (CAST(302 AS Numeric(5, 0)), CAST(202 AS Numeric(4, 0)), CAST(102 AS Numeric(4, 0)), CAST(N'2026-07-12' AS Date), CAST(N'11:00:00' AS Time), CAST(2 AS Numeric(3, 0)))
INSERT [dbo].[Citas] ([IdCita], [IdPaciente], [IdMedico], [Fecha], [Hora], [IdEstado]) VALUES (CAST(303 AS Numeric(5, 0)), CAST(204 AS Numeric(4, 0)), CAST(104 AS Numeric(4, 0)), CAST(N'2026-07-14' AS Date), CAST(N'09:30:00' AS Time), CAST(3 AS Numeric(3, 0)))
GO
INSERT [dbo].[Consultas] ([IdConsulta], [IdCita], [IdPaciente], [IdMedico], [Fecha], [Peso], [Estatura], [PresionArterial], [MotivoConsulta], [Diagnostico]) VALUES (CAST(401 AS Numeric(5, 0)), CAST(301 AS Numeric(5, 0)), CAST(201 AS Numeric(4, 0)), CAST(101 AS Numeric(4, 0)), CAST(N'2026-07-12' AS Date), CAST(78.50 AS Numeric(4, 2)), CAST(175 AS Numeric(3, 0)), N'120/80', N'Dolor de pecho', N'Gastritis')
INSERT [dbo].[Consultas] ([IdConsulta], [IdCita], [IdPaciente], [IdMedico], [Fecha], [Peso], [Estatura], [PresionArterial], [MotivoConsulta], [Diagnostico]) VALUES (CAST(402 AS Numeric(5, 0)), CAST(302 AS Numeric(5, 0)), CAST(202 AS Numeric(4, 0)), CAST(102 AS Numeric(4, 0)), CAST(N'2026-07-12' AS Date), CAST(65.30 AS Numeric(4, 2)), CAST(162 AS Numeric(3, 0)), N'130/85', N'Dolor de rodilla', N'Artritis')
INSERT [dbo].[Consultas] ([IdConsulta], [IdCita], [IdPaciente], [IdMedico], [Fecha], [Peso], [Estatura], [PresionArterial], [MotivoConsulta], [Diagnostico]) VALUES (CAST(403 AS Numeric(5, 0)), CAST(303 AS Numeric(5, 0)), CAST(204 AS Numeric(4, 0)), CAST(104 AS Numeric(4, 0)), CAST(N'2026-07-14' AS Date), CAST(58.00 AS Numeric(4, 2)), CAST(158 AS Numeric(3, 0)), N'110/70', N'Picazón en la piel', N'Dermatitis')
GO
INSERT [dbo].[EstadoCitas] ([IdEstado], [Nombre], [Motivo], [Reprogramado]) VALUES (CAST(1 AS Numeric(3, 0)), N'Realizada', N'N/A', N'N/A')
INSERT [dbo].[EstadoCitas] ([IdEstado], [Nombre], [Motivo], [Reprogramado]) VALUES (CAST(2 AS Numeric(3, 0)), N'Cancelada', N'No Llegó', N'No')
INSERT [dbo].[EstadoCitas] ([IdEstado], [Nombre], [Motivo], [Reprogramado]) VALUES (CAST(3 AS Numeric(3, 0)), N'Cancelada', N'Canceló la Cita', N'Si')
GO
INSERT [dbo].[Medicos] ([IdMedico], [Nombre], [Especialidad], [CedulaProfesional], [Telefono], [Correo]) VALUES (CAST(101 AS Numeric(4, 0)), N'Dr. Kenai Alferez', N'Cardiología', N'CP12345', N'8112345678', N'Kenai@clinica.com')
INSERT [dbo].[Medicos] ([IdMedico], [Nombre], [Especialidad], [CedulaProfesional], [Telefono], [Correo]) VALUES (CAST(102 AS Numeric(4, 0)), N'Dr. Angel Lara', N'Pediatría', N'CP23456', N'8123456789', N'lara@clinica.com')
INSERT [dbo].[Medicos] ([IdMedico], [Nombre], [Especialidad], [CedulaProfesional], [Telefono], [Correo]) VALUES (CAST(103 AS Numeric(4, 0)), N'Dr. Adolfo Nava', N'Ortopedia', N'CP34567', N'8134567890', N'Adolfo@clinica.com')
GO
INSERT [dbo].[Pacientes] ([IdPaciente], [Nombre], [FechaNacimiento], [Sexo], [Alergias], [PadecimientosCronicos], [Telefono], [Correo], [Direccion], [ContactoEmergencia], [TelefonoEmergencia]) VALUES (CAST(201 AS Numeric(4, 0)), N'Juan Pérez', CAST(N'1990-03-15' AS Date), N'Masculino', N'Penicilina', N'Hipertensión', N'8123456789', N'juan@mail.com', N'Av. Reforma 123', N'Rosa Pérez', N'8129876543')
INSERT [dbo].[Pacientes] ([IdPaciente], [Nombre], [FechaNacimiento], [Sexo], [Alergias], [PadecimientosCronicos], [Telefono], [Correo], [Direccion], [ContactoEmergencia], [TelefonoEmergencia]) VALUES (CAST(202 AS Numeric(4, 0)), N'María García', CAST(N'1995-07-22' AS Date), N'Femenino', N'Ninguna', N'Diabetes tipo 2', N'8187654321', N'maria@mail.com', N'Calle Hidalgo 456', N'Luis García', N'8187651234')
INSERT [dbo].[Pacientes] ([IdPaciente], [Nombre], [FechaNacimiento], [Sexo], [Alergias], [PadecimientosCronicos], [Telefono], [Correo], [Direccion], [ContactoEmergencia], [TelefonoEmergencia]) VALUES (CAST(203 AS Numeric(4, 0)), N'Carlos López', CAST(N'1988-11-05' AS Date), N'Masculino', N'Mariscos', N'Asma', N'8123456789', N'carlos@mail.com', N'Av. Juárez 789', N'Ana López', N'8123459876')
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_EstadoCitas] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadoCitas] ([IdEstado])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_EstadoCitas]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Medicos] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medicos] ([IdMedico])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Medicos]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Pacientes] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Pacientes] ([IdPaciente])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Pacientes]
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD  CONSTRAINT [FK_Consultas_Citas] FOREIGN KEY([IdCita])
REFERENCES [dbo].[Citas] ([IdCita])
GO
ALTER TABLE [dbo].[Consultas] CHECK CONSTRAINT [FK_Consultas_Citas]
GO
USE [master]
GO
